* {
    box-sizing:border-box;
}
#navigation{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 300;
    background-color: black;
}
#navigation a{
    text-decoration: none;
    color: white;
}
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(219, 210, 210, 0.5)),url(../Images/man-walk.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#featured-pr{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(219, 210, 210, 0.5)),url(../Images/orange-wool.jpg);
    height: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#featured-product-1{
    width: 100%;
    padding: 5px;
}
#featured-product-2{
    width: 100%;
    padding: 5px;
}
#featured-product-3{
    width: 100%;
    padding: 5px;
}
#featured-products-row img{
    width: 100%;
    padding: 5px;
}
#logo-index{
    width: 20%;
}
#products-text{
    text-align: center;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#featured {
   text-align: center;
 padding-bottom: 10px;
}
#collection-text{
    text-align: center;
}
#denim-text{
    text-align: center;
}
#collection-header{
    padding: 10px;
}
  #slder{
      overflow: hidden;
  }
  #slder figure{
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      animation: 20s slder infinite;
      height: 300%;
  }
  #slder figure img{
      width: 20%;
      float: left;
  }
  @keyframes slder{
      0% {
          left: 0;
      }
      20% {
          left: 0;
      }
      25% {
          left: -100%;
      }
      45% {
          left: -100%;
      }
      50% {
          left: -200%;
      }
      70% {
          left: -200%;
      }
      75% {
          left: -300%;
      }
      95%{
          left: -300%;
      }
      100%{
          left: -400%;
      }
  }
  /* Lookbook */
  #lookbook-img img{
    width: 100%;
    padding: 5px;
    transition: transform .2s;
  }
  #lookbook-img:hover img{
      transform: scale(1.5);
  }
  #lookbook-h1 h1{
      text-align: center;
  }
  #navigation-lookbook{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 300;
    background-color: black;
}
#navigation-lookbook a{
    text-decoration: none;
    color: white;
}
/* Shop */
#price{
    text-align: center;
}
#cart-icon{
    color: white;
}
#shop-items img{
    width: 100%;
    padding: 5px;
}
#shop-txt{
    text-align: center;
}
#add-to-cart{
        position: relative;
        border-style: solid;
        text-align: center;
        padding: 2px;   
}
#title{
    position: relative;
    border-style: solid;
    text-align: center;
    padding: 2px;   
}
#items-div{
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#navigation-shop{
    position: -webkit-sticky;
    text-align: center;
    position: sticky;
    top: 0%;
    z-index: 300;
    background-color: black;
}
#navigation-shop a{
    text-decoration: none;
    color: white;
}
/* about-page */
#about-txt{
    text-align: center;
}
#navigation-about{
    position: -webkit-sticky;
    text-align: center;
    position: sticky;
    top: 0%;
    z-index: 300;
    background-color: black;
}
#navigation-about a{
    text-decoration: none;
    color: white;
}
#map{
    height: 500px;
    width: 100%;
}
input#contact-txt-input {
    width: 100%;
}
#discript-title{
    text-align: center;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.418) ;
}
#discript-div{
    padding: 5px;
}
#disctipt-txt{
    background-color: rgba(128, 128, 128, 0.418);
    padding: 10px;
}
#team-title{
    text-align: center;
    border-style: solid;
}
#profile {
    width: 100%;
    border-radius: 100%;
}
#profile-s {
    width: 200%;
    border-radius: 100%;
}
#profile-text{
    text-align: center;
    border-style: solid;
    padding: 5px;
}
#team-txt{
    text-align: center;
}
#about-us-div{
    padding: 30px;
    padding-top: 200px ;
}
#team-txt{
    text-align: center;
    padding: 20px;
}
#pr-div{
    padding-right: 10%;
    padding-left:10% ;
}
#logo{
    width: 100%;
}
#background-about-us{
    padding-left: 10%;
    padding-right: 10%;
}
#profile-txt{
    text-align: center;
    padding: 2%;
}
#profiles-div{
    padding-right: 200px;
    padding-left:200px;
    padding-bottom: 200px;
}
#contact-txt{
    text-align: center;
}
#name-txt{
    margin-top: 5px;
    margin-bottom: 5px;
}
#email-txt{
    margin-top: 5px;
    margin-bottom: 5px;
}
#submit-txt{
    margin-top: 5px;
    margin-bottom: 5px;
}
#contact-info{
    padding-right: 10%;
    padding-left:10%;
    padding-bottom: 10%;
}
/* cart */
#cart-text{
    text-align: center;
}
#products{
    padding-left:20% ;
}
#product-price{
    padding-left:20% ;
}
#total-price{
    padding-left:20% ;
}
#navigation-cart{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 300;
    background-color: black;
    }
#navigation-cart a{
    text-decoration: none;
    color: white;
}